{% extends 'Guest/master.html' %}
{% block tcontent %}
Gym
{% endblock %}
{% block childcontent %}

    <!-- our service section start -->
    <div class="our_section layout_padding">
      <div class="container">
        <h1 class="our_text"><strong>OUR CLASSES</strong></h1>
        <p class="client_long_text">It is a long established fact that a reader will be distracted by the readable</p>
        <div class="row padding_top_0">
          <div class="col-lg-4">
            <div class="image_7"><a href="#"><img src="/static/images/img-1.png"></a></div>
            <h2 class="design_text">WEIGHTLIFTING</h2>
            <p class="fact_text">It is a long established fact that a reader will be distracted by the readable</p>
          </div>
            <div class="col-lg-4">
              <div class="image_7"><a href="#"><img src="/static/images/img-2.png"></a></div>
            <h2 class="design_text">INDOOR CYCLING</h2>
            <p class="fact_text">It is a long established fact that a reader will be distracted by the readable</p>
            </div>
            <div class="col-lg-4">
              <div class="image_7"><a href="#"><img src="/static/images/img-3.png"></a></div>
            <h2 class="design_text">CORE POWER</h2>
            <p class="fact_text">It is a long established fact that a reader will be distracted by the readable</p>
            </div>
            <div class="bt_main">
              <div class="seemore_bt"><a href="#">See More</a></div>
            </div>
        </div>
        
      </div>
    </div>
    <!-- our service section end -->
    <!-- project section start -->
    <div class="project_section layout_padding about_main">
        <div class="container">
            <h1 class="partner_text">PARTNER<br> UP-DOUBLE POWER</h1>
            <p class="lorem_ipsum_text">t is a long established fact that a reader will be distracted by the readable content 
                                        of a page when looking at its layout. The point of using Lorem Ipsum is tha</p>
            <div class="choice_main">
                <div class="choose_bt"><a href="#">CHOOSE YOUR TRAINER</a></div>
            </div>            
        </div>
    </div>
    <!-- project section end -->


{% endblock %}