{% extends 'Guest/master.html' %}
{% block tcontent %}
#theLogin
{% endblock %}
{% block childcontent %}





<center>
<br>
<br>
<br>
<br>
<br>
<br>
<h1><b> Login </b></h1>
<br><br>
<form action="" method="post">
{% csrf_token %}
<input type="text" name="txtunameoremail" placeholder="Enter Username or Email" required="" />
<br><br>
<input type="password" name="txtpass" placeholder="Enter Password" required="" />
<br><br>
<input type="submit" name="btnsubmit" value="SIGN UP" />
</form>
{{result}}
<br>
<br>
<br>
<br>
<br>
</center>




{% endblock %}
