{% extends 'dailyTasks/master.html' %}
{% block tcontent %}
StarPattern-1 by 'post_Method'
{% endblock %}
{% block childcontent %}



<form action="starpattern1202105282" method="post">
{% csrf_token %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
	Enter Number
	<br>
	<input type="text" name="txtnum1" placeholder="Enter First Number" />
	<br>
	<br>
	<br>
	<input type="submit" name="btnsubmit" value="toTRY" />
	</center>

</form>

<br>
<br>

{% for result in data %}
<p>{{result}}</p>
{% endfor %}

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
{% endblock %}








