<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Color Change</title>
</head>
<body bgcolor="{{result}}">


<form action="" method="post">
{% csrf_token %}
	<br>
	<br>
	<br>
	<br>
	<br>

	<center>
	<br>
	<br>
	<br>
	<br>
	<br>
	<b><a href="/dailytasks" >> Main Menu</a></b>
	<br>
	<br>
	<br>
	<b>Select Colors :</b>
	<br>
	<input type="radio" name="selection" value="red" {% if result == 'red' %} checked {% endif %} />RED  
	<br>
	<input type="radio" name="selection" value="blue" {% if result == 'blue' %} checked {% endif %} />BLUE
	<br>
	<input type="radio" name="selection" value="green" {% if result == 'green' %} checked {% endif %} />GREEN
	<br>
	<br>
	<input type="submit" name="btnsubmit" value="Submit" />
	</center>

</form>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
</body>
</html>


