{% extends 'dailyTasks/master.html' %}
{% block tcontent %}
Prime by 'post_Method'
{% endblock %}
{% block childcontent %}



<form action="checkprime202105272" method="post">
{% csrf_token %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
	Enter Number
	<br>
	<input type="text" name="txtnum1" placeholder="Enter First Number" />
	<br>
	<br>
	<br>
	<input type="submit" name="btnsubmit" value="CheckPrime" />
	</center>

</form>


<center>
{{result}}
</center>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}








