{% extends 'dailyTasks/master.html' %}
{% block tcontent %}
Factorial by 'post_Method'
{% endblock %}
{% block childcontent %}



<form action="factorial202105272" method="post">
{% csrf_token %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
	Enter Number
	<br>
	<input type="text" name="txtnum1" placeholder="Enter First Number" />
	<br>
	<br>
	<br>
	<input type="submit" name="btnsubmit" value="CheckFact" />
	</center>

</form>


<center>
{{result}}
</center>



{% endblock %}








