{% extends 'dailyTasks/master.html' %}
{% block tcontent %}
#ViewStudents
{% endblock %}
{% block childcontent %}





<center>


<form action="" method="post">
{% csrf_token %}

<br>
<br>
<h1><b> Students List </b></h1>
<br>
<br>
<br>
<table border="1">
    <tr>
        <th>Branch</th>
        <th>Course Id's</th>
        <th>Course Name</th>
        <th>Roll NO</th>
        <th>Student Name</th>
        <th>Course Fee</th>
    </tr>
    {%  for data in result  %}
        <tr>
            <td>{{data.branch}}</td>
            <td>{{data.courseIdS}}</td>
            <td>{{data.courceName}}</td>
            <td>{{data.rollNo}}</td>
            <td>{{data.studentName}}</td>
            <td>{{data.courseFee}}</td>
        </tr>
    {%  endfor  %}
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</form>


</center>





{% endblock  %}