{% extends 'dailyTasks/master.html' %}
{% block tcontent %}
Factorial by 'get_Method'
{% endblock %}
{% block childcontent %}



<form action="factorial202105262" method="get">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
	Enter Number
	<br>
	<input type="text" name="txtnum1" placeholder="Enter First Number" />
	<br>
	<br>
	<br>
	<input type="submit" name="btnsubmit" value="CheckFact" />
	</center>

</form>


<center>
{{result}}
</center>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}








