{% extends 'dailyTasks/master.html' %}
{% block tcontent %}
Triangle or Rectangle
{% endblock %}
{% block childcontent %}



<form action="" method="post">
{% csrf_token %}
	<br>
	<br>
	<br>
	<br>
	<br>

	<center>
	<b>Select "Triangle or Rectangle" :</b>
	<br>
	<input type="radio" name="selection" value="triangle" />Triangle  
	<input type="radio" name="selection" value="rectangle" />Rectangle
	<br>
	<br>
	<br>
	<input type="text" name="txtnum1" value="{{txtbox1}}" placeholder="Enter 1'st Perameter" />
	<br>
	<input type="text" name="txtnum2" value="{{txtbox2}}" placeholder="Enter 2'nd Perameter" />
	<br>
	<br>
	<input type="submit" name="btnsubmit" value="Submit" />
	</center>

</form>

<br>

<center>
{% for result in value %}
{{result}}<br>
{% endfor %}
</center>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
{% endblock %}








