{% extends 'dailyTasks/master.html' %}
{% block tcontent %}
Sum by 'load or logic in one method'
{% endblock %}
{% block childcontent %}




<form action="" method="post">
{% csrf_token %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
	Enter First Number
	<br>
	<input type="text" name="txtnum1" value="{{txtbox1}}" placeholder="Enter First Number" />
	<br>
	<br>
	Enter Second Number
	<br>
	<input type="text" name="txtnum2" value="{{txtbox2}}" placeholder="Enter Second Number" />
	<br>
	<br>
	<input type="submit" name="btnsubmit" value="Addition" />
	</center>

</form>


<center>
{{result}}
</center>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


{% endblock %}








